a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

body, html {
    height: 100%;
    display: grid;
}

.main-form {
    margin: auto;
    margin-top: -100px;
}

#site-search {
    width: 500px;
    border-radius: 10px;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 5px;

}

.divider{
    width:7px;
    height:auto;
    display:inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    display: inline;
    float: right;
}

#firstLink {
    margin-left: 5px;
    margin-right: 60px;
}

.navPic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position:absolute;
    text-align:right;
    right: 5px;
}

.main-menu {
    display: flex;
    justify-self: flex-end;
    height: 50px;
}

.footerMenu {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.f1 {
    background-color: #f2f2f2;
    height: 50px;
    display: grid;
    align-content: center;
    border-bottom: 1px solid #dadce0;
    padding-left: 20px;
}

.f2 {
    background-color: #f2f2f2;
    height: 50px;
    display: grid;
    align-content: center;
    justify-content: start;
    padding-left: 20px;
}
